@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Eczar:wght@400..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    background-color: #081b29;
}
h1{
    color: #f9f9f9;
    font-size: 4rem;
    font-family: "Playfair Display", serif;
    padding-top: 20px;
    text-shadow: 0px 0px 10px #5ddcff,0px 0px 10px #fb009b,0px 0px 10px #642bff;
    display: flex;
    align-items: center;
    justify-content: center;
}
span{
    color: #5ddcff;
    text-shadow: #f6f6f6;
}
.container{
    padding: 5rem 30px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}
.card{
    width: 400px;
    height: 100%;
    background-image: linear-gradient(#5ddcff ,#3c67e3 43%, #4e00c2 );
    padding-bottom: 30px;
    border-radius: 10px;
}
.content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.content img{
    width: 100%;
    height: 240px;
    padding-bottom: 20px;
    border-radius: 10px 10px 60px 60px;
    transition: 0.5s;
}
.content img:hover{
    transform: translateY(-15px);
}
.content h2{
    font-size: 26px;
    font-family: "Eczar", serif;
    color: #fff;
    letter-spacing: 0.8px;
    text-shadow: 0px 0px 10px #fb009b,0px 0px 10px #fb009b,0px 0px 10px #fb009b;
}
.content p{
    font-size: 16px;
    line-height: 25px;
    padding: 10px 10px;
    color: #f6f6f6;
}
.content button{
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    background: #fb009b;
    padding: 12px 30px;
    border: 2px dotted #fb009b;
    border-radius: 45px;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}
.content button:hover{
    background: transparent;
}
::-webkit-scrollbar{
    width: 3px;
    height: 2px;
}
::-webkit-scrollbar-track{
    background: transparent;
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(#642bff,#ff22e6);
    border-radius: 100px;
}